<!DOCTYPE html>
<html>
  <head>
    <title>Flask app</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">

    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
  

    <ul>
        <li><a class="active" href="#home">Finance</a></li>
        <li><a href="https://www.moneycontrol.com/" target="_blank">News</a></li>
        
    </ul>


    <h2 class="text-red-400 font-bold text-3xl text-center p-4 m-3">Finance Videos</h2>
    
    <div class="grid grid-rows-4 grid-cols-3 gap-8 m-6 border-8 border-red-900">

        <div class="border-2 border-sky-500 p-6 m-4 ">

            <iframe height="400px" width="100%" src="https://www.youtube.com/embed/yzRP-mA2eiE?list=PLX2SHiKfualH_xMbGM-3zWC47s9gUjGR_" title="1. Fundamental analysis vs technical analysis" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <div class="border-2 border-sky-500 p-6 m-4">
            <iframe height="400px" width="100%" src="https://www.youtube.com/embed/0uA1UJzTI4Q?list=PLX2SHiKfualH_xMbGM-3zWC47s9gUjGR_" title="2. Setting realistic expectations" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="border-2 border-sky-500 p-6 m-4">
            <iframe height="400px" width="100%" src="https://www.youtube.com/embed/RNu14To1gdM?list=PLX2SHiKfualH_xMbGM-3zWC47s9gUjGR_" title="3. Types of charts" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="border-2 border-sky-500 p-6 m-4">
            <iframe height="400px" width="100%" src="https://www.youtube.com/embed/pYC5RfXAm-4?list=PLX2SHiKfualH_xMbGM-3zWC47s9gUjGR_" title="4. Timeframes" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="border-2 border-sky-500 p-6 m-4">
            <iframe height="400px" width="100%" src="https://www.youtube.com/embed/37wji6rGKo4?list=PLX2SHiKfualH_xMbGM-3zWC47s9gUjGR_" title="5. Key assumption of technical analysis" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="border-2 border-sky-500 p-6 m-4">
            <iframe height="400px" width="100%" src="https://www.youtube.com/embed/AYG2g3O7jKc?list=PLX2SHiKfualH_xMbGM-3zWC47s9gUjGR_" title="6. Understanding candlestick patterns" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="border-2 border-sky-500 p-6 m-4">
            <iframe height="400px" width="100%" src="https://www.youtube.com/embed/mKfl8A1VOEM?list=PLX2SHiKfualH_xMbGM-3zWC47s9gUjGR_" title="7. Single candlestick patterns" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="border-2 border-sky-500 p-6 m-4">
            <iframe height="400px" width="100%" src="https://www.youtube.com/embed/yP83rD7DjTg?list=PLX2SHiKfualH_xMbGM-3zWC47s9gUjGR_" title="8. Multiple candlestick patterns" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="border-2 border-sky-500 p-6 m-4">
            <iframe height="400px" width="100%" src="https://www.youtube.com/embed/UBkCkBme2Hg?list=PLX2SHiKfualH_xMbGM-3zWC47s9gUjGR_" title="9. Support and Resistance" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="border-2 border-sky-500 p-6 m-4">
            <iframe height="400px" width="100%" src="https://www.youtube.com/embed/veWVgyucBqU?list=PLX2SHiKfualH_xMbGM-3zWC47s9gUjGR_" title="10. Technical indicators" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="border-2 border-sky-500 p-6 m-4">
            <iframe height="400px" width="100%" src="https://www.youtube.com/embed/810jmf7drFw?list=PLX2SHiKfualH_xMbGM-3zWC47s9gUjGR_" title="11. Moving averages" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="border-2 border-sky-500 p-6 m-4">
            <iframe height="400px" width="100%" src="https://www.youtube.com/embed/4W0mOUNMWpc?list=PLX2SHiKfualH_xMbGM-3zWC47s9gUjGR_" title="12. Your trading checklist" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>



    <div>
        <p class="text-3xl text-red-400 font-bold text-center">Click below to take the test on Financial education</p>

        <a href="https://edurev.in/course/quiz/attempt/-1_Test-Financial-Literacy-1/cac90e37-4bad-4e14-b3e7-951de95f245f" target="_blank" class="text-center text-4xl text-red-500  font-bold ">
            <p class="text-center">Quiz</p>
        </a>

        
    </div>
  </body>
</html>